<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elevintech.myapplication">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.elevintech.motorbro.TermsServices.TermsServicesActivity"></activity>
        <activity android:name="com.elevintech.motorbro.PrivacyPolicy.PrivacyPolicyActivity" />
        <activity android:name="com.elevintech.motorbro.ContactUs.ContactUsActivity" />
        <activity android:name="com.elevintech.motorbro.More.MoreActivity" />
        <activity android:name="com.elevintech.motorbro.EditBike.EditBikeActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name="com.elevintech.motorbro.TypeOf.TypeOfBrandActivity" />
        <activity
            android:name="com.elevintech.motorbro.Chat.ChatLogActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name="com.elevintech.motorbro.AddBrand.AddBrandActivity" />
        <activity android:name="com.elevintech.motorbro.Favorites.FavoritesActivity" />
        <activity android:name="com.elevintech.motorbro.Chat.ChatListActivity" />
        <activity android:name="com.elevintech.motorbro.ShopView.ShopViewActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="com.elevintech.motorbro.Shop.ShopActivity" />
        <activity android:name="com.elevintech.motorbro.Glovebox.MotorRegistrationActivity" />
        <activity android:name="com.elevintech.motorbro.Glovebox.DriversLicenseActivity" />
        <activity android:name="com.elevintech.motorbro.Glovebox.InsuranceActivity" />
        <activity android:name="com.elevintech.motorbro.AddOdometer.AddOdometerActivity" />
        <activity android:name="com.elevintech.motorbro.TypeOf.AddTypeOfFuel" />
        <activity android:name="com.elevintech.motorbro.TypeOf.TypeOfFuelActivity" />
        <activity android:name="com.elevintech.motorbro.AddRefueling.AddRefuelingActivity" />
        <activity android:name="com.elevintech.motorbro.Dashboard.DashboardBottomSheet" />
        <activity android:name="com.elevintech.motorbro.TypeOf.AddTypeOfHistory" />
        <activity android:name="com.elevintech.motorbro.ViewBike.ViewBikeActivity" />
        <activity android:name="com.elevintech.motorbro.TypeOf.TypeOfHistoryActivity" />
        <activity android:name="com.elevintech.motorbro.TypeOf.AddTypeOfReminders" />
        <activity android:name="com.elevintech.motorbro.TypeOf.TypeOfReminderActivity" />
        <activity android:name="com.elevintech.motorbro.AddReminders.AddRemindersActivity" />
        <activity android:name="com.elevintech.motorbro.SplashPage.SplashPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.elevintech.motorbro.MotorcycleEditGeneralInformation.EditGeneralInformationActivity" />
        <activity android:name="com.elevintech.motorbro.Achievements.AchievementsActivity" />
        <activity android:name="com.elevintech.motorbro.Glovebox.GloveboxActivity" />
        <activity android:name="com.elevintech.motorbro.Garage.GarageActivity" />
        <activity android:name="com.elevintech.motorbro.MyAccount.MyAccountActivity" />
        <activity android:name="com.elevintech.motorbro.ViewBrand.ViewBrandActivity" />
        <activity android:name="com.elevintech.motorbro.TypeOf.AddTypeOfParts" />
        <activity android:name="com.elevintech.motorbro.TypeOf.TypeOfPartsActivity" />
        <activity android:name="com.elevintech.motorbro.ViewParts.ViewPartsActivity" />
        <activity android:name="com.elevintech.motorbro.AddParts.AddPartsActivity" />
        <activity android:name="com.elevintech.motorbro.BikeRegistration.BikeRegistrationActivity" />
        <activity android:name="com.elevintech.motorbro.Dashboard.DashboardActivity" />
        <activity android:name="com.elevintech.motorbro.CreateAccount.CreateAccountActivity" />
        <activity android:name="com.elevintech.motorbro.MainActivity" />

        <service
            android:name="com.elevintech.motorbro.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name="com.elevintech.motorbro.ScheduledNotification.Receiver" />
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_background" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>