<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elevintech.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.elevintech.motorbro.AddHistory.AddHistoryActivity"></activity>
        <activity android:name="com.elevintech.motorbro.AddReminders.AddRemindersActivity" />
        <activity android:name="com.elevintech.motorbro.SplashPage.SplashPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.elevintech.motorbro.MotorcycleEditGeneralInformation.EditGeneralInformationActivity" />
        <activity android:name="com.elevintech.motorbro.Achievements.AchievementsActivity" />
        <activity android:name="com.elevintech.motorbro.Glovebox.GloveboxActivity" />
        <activity android:name="com.elevintech.motorbro.Garage.GarageActivity" />
        <activity android:name="com.elevintech.motorbro.MyAccount.MyAccountActivity" />
        <activity android:name="com.elevintech.motorbro.ViewBrand.ViewBrandActivity" />
        <activity android:name="com.elevintech.motorbro.TypeOf.AddTypeOfParts" />
        <activity android:name="com.elevintech.motorbro.TypeOf.TypeOfPartsActivity" />
        <activity android:name="com.elevintech.motorbro.ViewParts.ViewPartsActivity" />
        <activity android:name="com.elevintech.motorbro.AddParts.AddPartsActivity" />
        <activity android:name="com.elevintech.motorbro.BikeRegistration.BikeRegistrationActivity" />
        <activity android:name="com.elevintech.motorbro.Dashboard.DashboardActivity" />
        <activity android:name="com.elevintech.motorbro.CreateAccount.CreateAccountActivity" />
        <activity android:name="com.elevintech.motorbro.MainActivity" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>